<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>
Put in a "search by company name or companies house number" search bar here
Find companies by /companies/(company_number)
